@font-face {
    font-family: PTSans-Regular;
    src: url(Assets/Fonts/PTSans/PTSans-Regular.ttf);
}

@font-face {
    font-family: PTSans-Bold;
    src: url(Assets/Fonts/PTSans/PTSans-Bold.ttf);
}

@font-face {
    font-family: PTSans-Italic;
    src: url(Assets/Fonts/PTSans/PTSans-Italic.ttf);
}

@font-face {
    font-family: PTSans-BoldItalic;
    src: url(Assets/Fonts/PTSans/PTSans-BoldItalic.ttf);
}

body {
    background: rgb(44,47,51);
    background: linear-gradient(90deg, rgba(44,47,51,1) 0%, rgba(35,39,42,1) 100%);
}

h1 {
    font-family: PTSans-Bold;
    color: rgb(230, 77, 77);
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: PTSans-Bold;
    color: rgb(230, 77, 77);
    text-align: center;
    font-size: 40px;
}

p {
    font-family: PTSans-Regular;
    color: rgba(255, 255, 255, 0.815);
    text-align: center;
    font-size: 20px;
}

b {
    color: rgb(230, 77, 77);
}

a {
    color:rgb(231, 116, 116);
}

i {
    font-family: PTSans-Italic;
}

ul {
    display: inline-block;
    color: rgba(255, 255, 255, 0.815);
    text-align: left;
}

div {
    font-family: PTSans-Regular;
    text-align: center;
    font-size: 20px;
}
